use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env)"
}

# Watch the sops-keys directory so the environment gets reloaded anytime it
# changes in order to calculate the new value for SOPS_PGP_FP.
watch_dir vars/sops-keys

use flake
